<div></div>
<div>
  <h3>Agregar Consultorio</h3>
   <label>No: </label><input name="numero" type="number" min='0' step="1">
  <select name="tipoconsultorio" >
    <option value="" selected>Selecciona una opción</option>
    <option value="sencillo">Sencillo</option>
    <option value="equipado">Equipado</option>
  </select>
  <label>Precio: </label><input type="number" min='0' name="precio" >
  <label>Color: </label><input type="color" name="color">
</div>