<div class="parallax-container">
  <div class="parallax">
    <img src="https://wallpapercave.com/wp/wp2469685.jpg">
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col s8">
      <h2>MediPlus</h2>
      <h4>Renta - Agenda - Utiliza</h4>
      <p>MediPlus ayuda a doctores a agendar sus citas y a administradores a llevar el control de estas</p>
    </div>
    <div class="col s4">
      <p><strong>Login</strong></p>
      <a class="btn waves-effect waves-light btn-large pulse blue darken-4" href="/login">
        <i class="far fa-user"></i>
      </a>
      <p><strong>SignUp</strong></p>
      <a class="btn waves-effect waves-light btn-large pulse blue accent-4" href="/signup">
        <i class="fas fa-user-plus"></i>
      </a>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img src="https://wallpapercave.com/wp/wp2595607.jpg">
  </div>
</div>

<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">A project by:</p>
        <p class="grey-text text-lighten-4">@AleOchoa & @oljudi</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020 - IronHack Bootcamp
    </div>
  </div>
</footer>