<div class="container" style="text-align: center;">
  <h1>Bienvenido a MediPlus</h1>
  <h4>La solución completa para la gestion de consultorios compartidos</h4>
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator"
            src="https://image.freepik.com/foto-gratis/medico-anotando-sintomas-paciente_53876-63308.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Gestiona aun mejor tu tiempo<i
              class="material-icons right">add</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Ahorra Tiempo<i class="material-icons right">close</i></span>
          <p>Hablar al consultorio para agendar una cita es cosa del pasado</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator"
            src="https://image.freepik.com/foto-gratis/cultive-doctor-paciente-que-sacuden-manos-oficina_23-2147896678.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Brinda un mejor servicio<i
              class="material-icons right">add</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Brinda un mejor servicio<i
              class="material-icons right">close</i></span>
          <p>Sin salas de espera, directo a consulta</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator"
            src="https://image.freepik.com/foto-gratis/equipo-medico-medicina-estetoscopio-o-fonendoscopio-hucha-gafas-aislado_80942-548.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Administra mejor tu consultorio<i
              class="material-icons right">add</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Administra mejor tu consultorio<i
              class="material-icons right">close</i></span>
          <p>Todo concentrado desde la consola de administrador</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img
      src="https://image.freepik.com/foto-gratis/equipo-medico-consulta_23-2148168432.jpg">
  </div>
</div>
</div>
<div class="container" style="text-align: center;">
  <h5>Diseñada para consultorios compartidos</h5>
  <p>MediPlus se adapta dentro de tu forma de trabajo, para permitirte tener un mejor control</p>
  <p>Mira nuestras demos!!</p>
  <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="https://image.freepik.com/psd-gratis/mujer-sosteniendo-portapapeles-tarjeta-clinica-simulada_23-2148420757.jpg">
        </div>
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Medical Team!</span>
          <p><a href="/medikalTeam">Demo</a></p>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="https://image.freepik.com/foto-gratis/fondo-borroso-paciente-filtro-vintage-esperando-ver-medico_1253-1525.jpg">
        </div>
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Clinica San Juan</span>
          <p><a href="/">Demo</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img src="https://image.freepik.com/foto-gratis/estetoscopio-medico-sobre-fondo-azul_23-2147652363.jpg">
  </div>
</div>

<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">A project by:</p>
        <p class="grey-text text-lighten-4">@AleOchoa & @oljudi</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020 - IronHack Bootcamp
    </div>
  </div>
</footer>