<h3>Bienvenido</h3>
<form action="/login" method="POST">
    <input type="text" name="username" id="username" placeholder="Usuario">
    <br><br>
    <input type="password" name="password" id="password" placeholder="Contraseña">
    <br><br>
    <button>Ingresar</button>

    {{#if message}}
        {{message}}
    {{/if}}
    <br>
  <br>
  <p>¿Necesitas cuenta?
    <a href="/signup">Crea tu cuenta</a></p>
</form>
