<div>
  <form action="/signup" method="POST">
    <h3>Registrate en la plataforma</h3>
    <br>
    <label>Email: </label><input type="text" name="email" id="email" placeholder="ejemplo@mail.com">
    <br>
    <br>
    <label>Tipo de consultorio</label>
    <select class="browser-default" name="tipoconsultorio" required>
      <option value="" disabled selected>Selecciona una opción</option>
      <option value="terapia">Terapia</option>
      <option value="medico">Medico</option>
    </select>
    <br>
    <br>
    <label>Contraseña: </label>
    <input type="password" name="password" id="password" placeholder="Contraseña">
    <br>
    <br>
    <button>Crea tu usuario</button>
    <br>
    <br>
    <p>No olvides validar tu correo antes de ingresar por primera vez.</p>
    <br>
    <br>
    <p>¿Ya tienes cuenta?
      <a href="/login">Ingresa a tu cuenta</a></p>
  </form>
</div>