<div></div>
<form action="">
  <h3>Agregar Doctor</h3>
  <label>Email: </label><input type="text" name="email" id="email" placeholder="ejemplo@mail.com">
  <br><br>
  <label>Elige el tipo de consultorio que requieres:</label>
  <select name="tipoconsultorio" >
    <option value="" selected>Selecciona una opción</option>
    <option value="sencillo">Sencillo</option>
    <option value="equipado">Equipado</option>
  </select>
  
</form>
