<div class="parallax-container">
  <div class="parallax"><img src="https://wallpapercave.com/wp/wp3487924.jpg"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col s4">
      <h3>Bienvenido</h3>
      <br><br><br>
      <spam>¿Aun no tienes cuenta?</spam>
      <spam><a href="/signup">Crea tu cuenta</a></spam>
    </div>
    <div class="col s8">
      <br>
      <form action="/login" method="POST">
        <input type="text" name="email" id="email" placeholder="Email">
        <br><br>
        <input type="password" name="password" id="password" placeholder="Contraseña">
        <br><br>
        <div class="right">
          <button type="submit" class="waves-effect btn-large blue darken-4 right-align pulse">
            <i class="large material-icons">send</i>
          </button>
        </div>
        {{#if message}}
        <blockquote>
          {{message}} - Intenta de nuevo
        </blockquote>
        {{/if}}
      </form>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="https://wallpapercave.com/wp/wp3487949.jpg"></div>
</div>